@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class = "btn">@Html.ActionLink("See All Businesses", "Index", "Businesses")</button>
</div>
